[submodule "main"]
	path = main
	url = https://github.com/snekpit/main.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/snekpit/kernel.git
[submodule "toolchain"]
	path = toolchain
	url = git@github.com:snekpit/toolchain.git
[submodule "plasma"]
	path = plasma
	url = git@github.com:snekpit/plasma.git
[submodule "gnome"]
	path = gnome
	url = git@github.com:snekpit/gnome.git
